* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "Barlow";
  scroll-behavior: smooth;
}

.container {
  width: 100vw;
}
.container .header {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
  background-image: url("../../images/desktop/image-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}
.container .header__logo {
  width: 170px;
  height: 33px;
  margin-top: 46px;
  margin-left: 40px;
}
.container .header__menus {
  height: 56px;
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 34px;
  margin-right: 48px;
  font-weight: 600;
}
.container .header__menus > *:link, .container .header__menus > *:visited {
  margin-left: 47px;
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
}
.container .header__hero-tag {
  flex-basis: 75%;
  margin: 0 auto;
  text-align: center;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 56px;
  letter-spacing: 8.75px;
  color: hsl(0deg, 0%, 100%);
  transform: translate(20px, -140px);
  position: relative;
}
.container .header__hero-tag::after {
  content: " ";
  width: 30px;
  height: 108px;
  position: absolute;
  top: 100px;
  left: 470px;
  background-image: url("../../images/svg-logos/icon-arrow-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.container .main {
  display: grid;
  scroll-behavior: smooth;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: repeat(3, 600px);
}
.container .main__transform {
  width: 100%;
  height: 100%;
  grid-column: 2/3;
  grid-row: 1/2;
}
.container .main__transform-details {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 445px;
}
.container .main__transform-details h1 {
  color: hsl(212deg, 27%, 19%);
  font-family: "Fraunces";
  line-height: 49px;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -0.3px;
  margin-bottom: 32px;
}
.container .main__transform-details p {
  color: hsl(213deg, 9%, 39%);
  line-height: 30px;
  font-weight: 600;
  letter-spacing: -0.12px;
  margin-bottom: 40px;
}
.container .main__transform-details a:visited, .container .main__transform-details a:link {
  position: relative;
  text-decoration: none;
  font-size: 15px;
  font-family: "Fraunces";
  color: hsl(212deg, 27%, 19%);
  line-height: 25px;
  font-weight: 900;
  letter-spacing: -0.12px;
}
.container .main__transform-details a:visited::before, .container .main__transform-details a:link::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 12px;
  left: -13px;
  border-radius: 28px;
  width: 137px;
  height: 10px;
  background-color: rgba(250, 212, 0, 0.25);
}
.container .main__standalone {
  width: 100%;
  height: 100%;
  grid-column: 1/2;
  grid-row: 2/3;
}
.container .main__standalone-details {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 445px;
}
.container .main__standalone-details h1 {
  color: hsl(212deg, 27%, 19%);
  font-family: "Fraunces";
  line-height: 49px;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -0.3px;
  margin-bottom: 32px;
}
.container .main__standalone-details p {
  color: hsl(213deg, 9%, 39%);
  line-height: 30px;
  font-weight: 600;
  letter-spacing: -0.12px;
  margin-bottom: 40px;
}
.container .main__standalone-details a:visited, .container .main__standalone-details a:link {
  position: relative;
  text-decoration: none;
  font-size: 15px;
  font-family: "Fraunces";
  color: hsl(212deg, 27%, 19%);
  line-height: 25px;
  font-weight: 900;
  letter-spacing: -0.12px;
}
.container .main__standalone-details a:visited::before, .container .main__standalone-details a:link::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 12px;
  left: -13px;
  border-radius: 28px;
  width: 137px;
  height: 10px;
  background-color: rgba(254, 120, 103, 0.25);
}
.container .main__graphic-design {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url("../../images/desktop/image-graphic-design.jpg");
  grid-column: 1/2;
  grid-row: 3/4;
}
.container .main__graphic-design h1 {
  width: 221px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: hsl(167deg, 40%, 24%);
  font-family: "Fraunces";
  line-height: 35px;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: -0.3px;
  margin-bottom: 27px;
}
.container .main__graphic-design p {
  width: 339px;
  text-align: center;
  color: hsl(168deg, 34%, 41%);
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: -0.12px;
  margin-bottom: 40px;
}
.container .main__photography {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url("../../images/desktop/image-photography.jpg");
  grid-column: 2/3;
  grid-row: 3/4;
}
.container .main__photography h1 {
  width: 221px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: hsl(198deg, 62%, 26%);
  font-family: "Fraunces";
  line-height: 35px;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: -0.3px;
  margin-bottom: 27px;
}
.container .main__photography p {
  width: 339px;
  text-align: center;
  color: hsl(198deg, 62%, 26%);
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: -0.12px;
  margin-bottom: 40px;
}
.container .testimonials {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 160px;
  margin-bottom: 160px;
}
.container .testimonials h2 {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 81px;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 5px;
  color: hsl(210deg, 4%, 67%);
}
.container .testimonials__clients {
  width: 86%;
  display: flex;
  justify-content: space-evenly;
}
.container .testimonials__clients--component {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .testimonials__clients--component img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin-bottom: 58px;
}
.container .testimonials__clients--component p {
  width: 350px;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.13px;
  color: hsl(213deg, 9%, 39%);
  margin-bottom: 69px;
}
.container .testimonials__clients--component h3 {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.13px;
  color: hsl(212deg, 27%, 19%);
  margin-bottom: 9px;
}
.container .testimonials__clients--component h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.1px;
  color: hsl(210deg, 4%, 67%);
}
.container .heros {
  display: flex;
}
.container .heros img {
  width: 25%;
  height: 447px;
}
.container .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  background-color: hsl(168deg, 34%, 41%);
}
.container .footer__logo {
  width: 170px;
  height: 33px;
  margin-top: -75px;
  margin-bottom: 40px;
  filter: invert(37%) sepia(62%) saturate(352%) hue-rotate(118deg) brightness(93%) contrast(95%);
}
.container .footer ul {
  width: 300px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 88px;
}
.container .footer ul > li {
  list-style: none;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.13px;
  color: hsl(167deg, 40%, 24%);
}
.container .footer__rs-logos {
  display: flex;
  justify-content: space-between;
  width: 163px;
}
.container .footer__rs-logos > * {
  width: 20px;
  height: 20px;
}

.active {
  color: hsl(212deg, 27%, 19%);
  font-size: 15px;
  text-transform: uppercase;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 20px;
  font-family: "Fraunces";
  padding: 15px 32px 16px 30px;
}

/*# sourceMappingURL=style.css.map */
